<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590528655515-2n6f7okaqbjbagl4nmjupll64lund1iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590528655515-2n6f7okaqbjbagl4nmjupll64lund1iq</string>
	<key>API_KEY</key>
	<string>AIzaSyBkQXKiDKqDAierfAnS7eNolMko2kwi6PE</string>
	<key>GCM_SENDER_ID</key>
	<string>590528655515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnFirebase</string>
	<key>PROJECT_ID</key>
	<string>learn-firebase-46df2</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-firebase-46df2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590528655515:ios:b3d6b626a55c4f46d1963e</string>
</dict>
</plist>